.containerMain {
  /* border: 1px solid red; */
  width: 100%;
  box-sizing: border-box;
  height: 2200px;
  padding: 1rem;
  padding-top: 3rem;
  background-color: #f3f3f3;
  display: flex;
}
.container {
  /* border: 1px solid royalblue; */
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  height: 100vh;
  background-color: #ffff;
  background-color: #f3f3f3;
}
.slide {
  width: 20%;
  border: 1px solid #ccc;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f3f3f3;
}
.slide1 {
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  background-color: #ffff;
}
.force-overflow {
  min-height: 600px;
}

.slide1::-webkit-scrollbar-track {
  border: 1px solid #ccc;
  padding: 1px 0;
  background-color: #ffff;
}

.slide1::-webkit-scrollbar {
  width: 3px;
}

.slide1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  border: 1px solid #000;
}
.main {
  width: 75%;
  /* border: 1px solid sandybrown; */
  height: 100%;
}
.slidebarselction {
  cursor: pointer;
  transition: transform 0.5s;
}
.slide2 {
  margin-top: 50px;
}
.slide2_1 {
  display: flex;
  column-gap: 5px;
  padding-left: 5px;
  background-color: #ffff;
}
.slide2_1 > p {
  font-size: small;
}
.slide3 {
  width: 100%;
  height: 300px;
  background-color: #ffff;
}
.main1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}
.main2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.main2 > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  column-gap: 5px;
  align-items: center;
}
.main3 {
  width: 100%;
  height: auto;
  background-color: #ffff;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.zoom {
  /* padding: 50px; */
  /* background-color: green; */
  transition: transform 0.2s;
  width: 180px;
  height: 226px;
  margin: 0 auto;
  cursor: pointer;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}
